{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/naracottage/nav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/naracottage/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dotnav.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slideshow.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slidenav.min.css' %}">
{% endblock %}
{% block nav %}
    {% include "nav_ru.html" %}
{% endblock %}
{% block content%}
    <div id="title">
        <div class="uk-text-center">
            <h1 class="uk-visible-large">{{ title }}</h1>
            <p class="uk-hidden-large uk-text-large uk-text-center">{{ title }}</p>
        </div>
    </div>
    <div id="photos" class="uk-background">
        <img class="uk-invisible" src="" width="" height="" alt="">
        <div class="uk-slidenav-position" data-uk-slideshow="{animation: 'swipe', autoplay: true, autoplayInterval: 7000}">
            <ul class="uk-slideshow">
                {% for alt_name, img_path in photo_map.items %}
                <li><img class="uk-height-viewport" src="{{ img_path }}" alt={{ alt_name }}></li>
                {% endfor %}
            </ul>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                {% for key in photo_map.keys %}
                <li data-uk-slideshow-item="{{ forloop.counter0 }}"><a href=""></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="download">
        <a class="uk-visible-large uk-margin-large-left uk-button uk-button-primary" href="{% static 'images/naracottage/naracottage_photos.zip' %}">Скачать все Фотографии</a>
    </div>
    <div id="price">
        <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-1-2 uk-container uk-container-center">
                <p class="uk-hidden-large">{{ about }}</p>
                <p class="uk-visible-large uk-text-center">{{ about }}</p>
            </div>
            <div class="uk-width-1-2 uk-container uk-container-center">
                <div class="uk-visible-large">
                    <p>Sale Price: {{ price_euros }} &#8364;</p>
                    <p>Sale Price: {{ price_roubles }} &#8381;</p>
                    <hr>
                    <p>Address: {{ address }}</p>
                    <a class="uk-button uk-button-primary" href="#map" data-uk-smooth-scroll="{offset: 50}">Показать на карте</a>
                </div>
                <div class="uk-hidden-large">
                    <p class="uk-text-center uk-text-large">Sale Price</p>
                    <p class="uk-text-center">{{ price_euros }} &#8364;</p>
                    <p class="uk-text-center">{{ price_roubles }} &#8381;</p>
                    <hr>
                    <p>Address: {{ address }}</p>
                    <div class="uk-text-center">
                        <a class="uk-button uk-button-primary" href="#map" data-uk-smooth-scroll="{offset: 50}">Показать на карте</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="details">
        <div class="uk-grid uk-visible-large uk-grid-collapse uk-margin-top uk-margin-bottom">
            <div class="uk-width-1-3">
                <img class="uk-align-center" src="{% static 'images/icon_garden.png' %}" width="200" height="200" alt="">
                <div class="uk-text-center">Красивый участок с ухоженным садом, лес и озера в шаговой доступности.</div>
            </div>
            <div class="uk-width-1-3">
                <img class="uk-align-center" src="{% static 'images/icon_internet.png' %}" width="200" height="200" alt="">
                <div class="uk-text-center">Есть скоростной интернет и цифровое телевидение.</div>
            </div>
            <div class="uk-width-1-3">
                <img class="uk-align-center" src="{% static 'images/icon_temperature.png' %}" width="200" height="200" alt="">
                <div class="uk-text-center">Возможно постоянное проживание. Свет, газ, вода централизованные и дом с отоплением.</div>
            </div>
        </div>
        <div class="uk-hidden-large uk-margin-left uk-margin-right uk-margin">
            <div>
                <img class="uk-align-center" src="{% static 'images/icon_garden.png' %}" width="200" height="200" alt="">
                <div class="uk-text-center">Красивый участок с ухоженным садом, лес и озера в шаговой доступности.</div>
            </div>
            <hr>
            <div>
                <img class="uk-align-center" src="{% static 'images/icon_internet.png' %}" width="200" height="200" alt="">
                <div class="uk-text-center">Есть скоростной интернет и цифровое телевидение.</div>
            </div>
            <hr>
            <div>
                <img class="uk-align-center" src="{% static 'images/icon_temperature.png' %}" width="200" height="200" alt="">
                <div class="uk-text-center">Возможно постоянное проживание. Свет, газ, вода централизованные и дом с отоплением.</div>
            </div>
        </div>

    </div>
    <div class="uk-panel-box">
        <div id="map" class="uk-background uk-height-viewport"></div>
    </div>
    <div id="contact">
        <div class="uk-visible-large uk-grid uk-grid-collapse uk-margin-top uk-margin-bottom">
            <div class="uk-width-1-2 uk-container uk-container-center">
                <div class="uk-text-center">Если у вас есть вопросы или вы хотите организовать просмотр, то звоните по номеру, указанному ниже, или заполните форму, указав ваш номер.</div>
                <hr>
                <div class="uk-text-center">{{ phone }} (Olga)</div>
                <div class="uk-text-center">{{ email_id }}</div>
            </div>
            <div class="uk-width-1-2 uk-container uk-container-center">
                <form class="uk-form">
                    <fieldset data-uk-margin>
                        <div class="uk-form-row">
                            <input class="uk-form-width-large" type="text" placeholder="Имя" />
                        </div>
                        <div class"uk-form-row">
                            <input class="uk-form-width-large" type="text" placeholder="Телефон" />
                        </div>
                        <div class="uk-form-row">
                            <textarea class="uk-form-width-large" rows="4" placeholder="Вопрос или Комментарии (не обязательно)"></textarea>
                        </div>
                        <div class="uk-form-row">
                            <button id="send-button" class="uk-button uk-button-primary">Отправить</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="uk-hidden-large">
            <div class="uk-margin-left uk-margin-right">
                <div class="uk-text-center">Если у вас есть вопросы или вы хотите организовать просмотр, то звоните по номеру, указанному ниже, или заполните форму, указав ваш номер.</div>
                <hr>
                <div class="uk-text-center">{{ phone }} (Olga)</div>
                <div class="uk-text-center">{{ email_id }}</div>
            </div>
            <div class="uk-margin-left uk-margin-right uk-margin-top">
                <hr>
                <form class="uk-form uk-text-center">
                    <fieldset data-uk-margin>
                        <div class="uk-form-row">
                            <input class="uk-form-width-medium" type="text" placeholder="Имя" />
                        </div>
                        <div class"uk-form-row">
                            <input class="uk-form-width-medium" type="text" placeholder="Телефон" />
                        </div>
                        <div class="uk-form-row">
                            <textarea class="uk-form-width-medium" rows="4" placeholder="Вопрос или Комментарии (не обязательно)"></textarea>
                        </div>
                        <div class="uk-form-row">
                            <button id="send-button" class="uk-button uk-button-primary">Отправить</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="other-properties">
        <div class="uk-visible-large">
            <div class="uk-text-center uk-margin-top">У нас есть еще 2 объекта, которые могут вас заинтересовать:</div>
            <div class="uk-grid uk-grid-collapse uk-margin-top uk-margin-bottom">
                <div class="uk-width-1-2 uk-container uk-container-center">
                    <div class="uk-text-center">Сдается в аренду: 3-х комнатная квартира в Москве, Метро Смоленская</div>
                    <hr>
                    <div class="uk-text-center">Ружейный Переулок Дом 4</div>
                    <div class="uk-thumbnail">
                        <img src="{% static 'images/img_arbatflat.jpg' %}" />
                        <div class="uk-thumbnail-caption"><a class="uk-text-muted" href="http://www.arbatflat.com">Arbat Flat</a></div>
                    </div>
                </div>
                <div class="uk-width-1-2 uk-container uk-container-center">
                    <div class="uk-text-center">Сдается в аренду: 4-х комнатной квартира в Москве, Метро Краснопресненская</div>
                    <hr>
                    <div class="uk-text-center">Улица Николаева Дом 4</div>
                    <div class="uk-thumbnail">
                        <img src="{% static 'images/img_moskvaflat.jpg' %}" />
                        <div class="uk-thumbnail-caption"><a class="uk-text-muted" href="http://www.moskvaflat.com/">Moskva Flat</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-hidden-large">
            <div class="uk-text-center uk-margin-top uk-margin-bottom uk-margin-left uk-margin-right">
                У нас есть еще 2 объекта, которые могут вас заинтересовать:
            </div>
            <div class="uk-margin uk-margin-left uk-margin-right">
                <div class="uk-text-center">Сдается в аренду: 3-х комнатная квартира в Москве, Метро Смоленская</div>
                <hr>
                <div class="uk-text-center">Ружейный Переулок Дом 4</div>
                <div class="uk-thumbnail">
                    <img src="{% static 'images/img_arbatflat.jpg' %}" />
                    <div class="uk-thumbnail-caption"><a class="uk-text-muted" href="http://www.arbatflat.com">Arbat Flat</a></div>
                </div>
            </div>
            <div class="uk-margin uk-margin-left uk-margin-right">
                <div class="uk-text-center">Сдается в аренду: 4-х комнатной квартира в Москве, Метро Краснопресненская</div>
                <hr>
                <div class="uk-text-center">Улица Николаева Дом 4</div>
                <div class="uk-thumbnail">
                    <img src="{% static 'images/img_moskvaflat.jpg' %}" />
                    <div class="uk-thumbnail-caption"><a class="uk-text-muted" href="http://www.moskvaflat.com/">Moskva Flat</a></div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="uk-text-center"><span class="uk-icon-copyright">&nbsp;</span>Ivan Khokhlov | Developed with <span class="uk-icon-heart">&nbsp;</span> and <span class="uk-icon-coffee">&nbsp;</span> by <a href="http://www.adikrishnan.in">Adi Krishnan</a></div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/slideshow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slideshow-fx.min.js' %}"></script>
{% endblock %}
