<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{{ name | title  }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <nav class="uk-navbar uk-navbar-attached" data-uk-sticky>
            {% block nav %}
            {% endblock %}
        </nav>
        {% block content %}
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sticky.min.js' %}"></script>
        {% block scripts %}
        {% endblock %}
        <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
        <script type="text/javascript">
            ymaps.ready(init);
            var myMap,
                myPlacemark;
            function init(){
                myMap = new ymaps.Map("map", {
                    center: [{{ latitude }}, {{ longitude }}],
                    zoom: 10
                });
                myPlacemark = new ymaps.Placemark([{{ latitude }}, {{ longitude }}], {
                    hintContent: '{{ name | title }}'
                });
                myMap.controls.add('routeEditor');
                myMap.behaviors.disable(['scrollZoom', 'drag']);
                myMap.geoObjects.add(myPlacemark);
            }
        </script>
    </body>
</html>
