<div class="uk-container uk-container-center uk-margin-top uk-margin-small-bottom">
    <a href="#offcanvas-navbar" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <a href="/" class="uk-navbar-brand">{{ name | title  }}</a>
    <ul href="#" class="uk-navbar-nav uk-navbar-flip uk-hidden-small">
        <li><a href="#photos">Photos</a></li>
        <li><a href="#price">Price &amp; Details</a></li>
        <li><a href="#map">Location</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Other Properties</a></li>
        <li>
            Interested? Call us: <br>
            {{ phone }}
        </li>
    </ul>
</div>
<div id="offcanvas-navbar" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li><a href="#photos">Photos</a></li>
            <li><a href="#price">Price &amp; Details</a></li>
            <li><a href="#map">Location</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Other Properties</a></li>
            <li><a href="#">
                Interested? Call us: <br>
                {{ phone }}
                </a>
            </li>
        </ul>
    </div>
</div>
