{% load staticfiles %}
<div class="uk-margin-top uk-margin-small-bottom">
    <a href="#offcanvas-navbar" class="uk-navbar-toggle" data-uk-offcanvas></a>
    <a href="/" class="uk-navbar-brand"><img src="{% static logo_url %}" width="150" /></a>
    <ul class="uk-navbar-nav uk-navbar-flip uk-margin-right"> 
        <li><a href="#">Interested? Call us! {{ phone }}</a></li>
        <li class="uk-parent" data-uk-dropdown>
            <a href="#"><i class="uk-icon-globe"></i> Lang</a>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="/en/">English</a></li>
                    <li><a href="/">Russian</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div id="offcanvas-navbar" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li><a href="#photos" data-uk-smooth-scroll="{offset: 50}">Photos</a></li>
            <li><a href="#price" data-uk-smooth-scroll="{offset: 80}">Price &amp; Details</a></li>
            <li><a href="#map" data-uk-smooth-scroll="{offset: 50}">Map &amp; How to get Here</a></li>
            <li><a href="#contact" data-uk-smooth-scroll="{offset: 50}">Contact Us</a></li>
            <li><a href="#other-properties" data-uk-smooth-scroll="{offset: 50}">Other Properties</a></li>
        </ul>
    </div>
</div>
