.uk-navbar {
    background-color: #ECF0F1;
    color: #2C3E50;
    z-index: 1000;
    border: none;
}
.uk-navbar-brand:focus, .uk-navbar-brand:hover{
    background-color: #ECF0F1;
    color: #2C3E50;
    cursor: pointer;
}
